<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="d60.Cirqus" version="0.36.2" targetFramework="net45" />
  <package id="d60.Cirqus.TestHelpers" version="0.26.3" targetFramework="net45" />
  <package id="grensesnitt.Framework" version="1.0.1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net45" />
  <package id="NodaTime" version="1.2.0" targetFramework="net45" />
  <package id="Shouldly" version="2.2.1" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>